## Preprocessing

In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("sample_data/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [38]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [39]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<100].index)
application_types_to_replace   

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
application_df
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [44]:
# Convert categorical data to numeric with `pd.get_dummies`
applicationWithDUmmies_df = pd.get_dummies(application_df)
applicationWithDUmmies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [45]:
# Split our preprocessed data into our features and target arrays
X = applicationWithDUmmies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = applicationWithDUmmies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [46]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
numberInputFeatures = len(X_train[0])
hiddenNodesL1 = 500
hiddenNodesL2 = 500
hiddenNodesL3 = 100
hiddenNodesL4 = 50
#hiddenNodesL5 = 100
# hiddenNodesL6 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenNodesL1, input_dim=numberInputFeatures, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenNodesL2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenNodesL3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenNodesL4, activation="relu"))

# Fifth hidden layer
# nn.add(tf.keras.layers.Dense(units=hiddenNodesL5, activation="relu"))

# Sixth hidden layer
# nn.add(tf.keras.layers.Dense(units=hiddenNodesL6, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 500)               22500

 dense_14 (Dense)            (None, 500)               250500

 dense_15 (Dense)            (None, 100)               50100

 dense_16 (Dense)            (None, 50)                5050

 dense_17 (Dense)            (None, 1)                 51

=================================================================
Total params: 328,201
Trainable params: 328,201
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100,verbose=2)

Epoch 1/100
804/804 - 3s - loss: 0.5699 - accuracy: 0.7210 - 3s/epoch - 4ms/step
Epoch 2/100
804/804 - 3s - loss: 0.5568 - accuracy: 0.7306 - 3s/epoch - 3ms/step
Epoch 3/100
804/804 - 3s - loss: 0.5544 - accuracy: 0.7295 - 3s/epoch - 3ms/step
Epoch 4/100
804/804 - 3s - loss: 0.5524 - accuracy: 0.7293 - 3s/epoch - 3ms/step
Epoch 5/100
804/804 - 3s - loss: 0.5503 - accuracy: 0.7306 - 3s/epoch - 4ms/step
Epoch 6/100
804/804 - 3s - loss: 0.5504 - accuracy: 0.7310 - 3s/epoch - 4ms/step
Epoch 7/100
804/804 - 3s - loss: 0.5485 - accuracy: 0.7331 - 3s/epoch - 3ms/step
Epoch 8/100
804/804 - 3s - loss: 0.5468 - accuracy: 0.7331 - 3s/epoch - 3ms/step
Epoch 9/100
804/804 - 2s - loss: 0.5465 - accuracy: 0.7337 - 2s/epoch - 3ms/step
Epoch 10/100
804/804 - 2s - loss: 0.5456 - accuracy: 0.7335 - 2s/epoch - 3ms/step
Epoch 11/100
804/804 - 3s - loss: 0.5460 - accuracy: 0.7342 - 3s/epoch - 3ms/step
Epoch 12/100
804/804 - 3s - loss: 0.5449 - accuracy: 0.7343 - 3s/epoch - 3ms/step
Epoch 13/100
804/804 - 2s - loss: 0.5442 - accuracy: 0.7347 - 2s/epoch - 3ms/step
Epoch 14/100
804/804 - 3s - loss: 0.5435 - accuracy: 0.7362 - 3s/epoch - 3ms/step
Epoch 15/100
804/804 - 3s - loss: 0.5434 - accuracy: 0.7343 - 3s/epoch - 3ms/step
Epoch 16/100
804/804 - 3s - loss: 0.5428 - accuracy: 0.7350 - 3s/epoch - 3ms/step
Epoch 17/100
804/804 - 3s - loss: 0.5429 - accuracy: 0.7339 - 3s/epoch - 3ms/step
Epoch 18/100
804/804 - 3s - loss: 0.5422 - accuracy: 0.7359 - 3s/epoch - 3ms/step
Epoch 19/100
804/804 - 3s - loss: 0.5416 - accuracy: 0.7352 - 3s/epoch - 4ms/step
Epoch 20/100
804/804 - 4s - loss: 0.5421 - accuracy: 0.7354 - 4s/epoch - 4ms/step
Epoch 21/100
804/804 - 3s - loss: 0.5409 - accuracy: 0.7362 - 3s/epoch - 3ms/step
Epoch 22/100
804/804 - 3s - loss: 0.5408 - accuracy: 0.7369 - 3s/epoch - 3ms/step
Epoch 23/100
804/804 - 3s - loss: 0.5406 - accuracy: 0.7373 - 3s/epoch - 3ms/step
Epoch 24/100
804/804 - 3s - loss: 0.5396 - accuracy: 0.7376 - 3s/epoch - 3ms/step
Epoch 25/100
804/804 - 3s - loss: 0.5397 - accuracy: 0.7375 - 3s/epoch - 3ms/step
Epoch 26/100
804/804 - 3s - loss: 0.5395 - accuracy: 0.7379 - 3s/epoch - 3ms/step
Epoch 27/100
804/804 - 3s - loss: 0.5398 - accuracy: 0.7365 - 3s/epoch - 3ms/step
Epoch 28/100
804/804 - 3s - loss: 0.5392 - accuracy: 0.7381 - 3s/epoch - 3ms/step
Epoch 29/100
804/804 - 2s - loss: 0.5400 - accuracy: 0.7371 - 2s/epoch - 3ms/step
Epoch 30/100
804/804 - 3s - loss: 0.5382 - accuracy: 0.7374 - 3s/epoch - 3ms/step
Epoch 31/100
804/804 - 3s - loss: 0.5385 - accuracy: 0.7383 - 3s/epoch - 3ms/step
Epoch 32/100
804/804 - 3s - loss: 0.5381 - accuracy: 0.7383 - 3s/epoch - 3ms/step
Epoch 33/100
804/804 - 3s - loss: 0.5376 - accuracy: 0.7374 - 3s/epoch - 4ms/step
Epoch 34/100
804/804 - 3s - loss: 0.5382 - accuracy: 0.7368 - 3s/epoch - 3ms/step
Epoch 35/100
804/804 - 3s - loss: 0.5375 - accuracy: 0.7378 - 3s/epoch - 3ms/step
Epoch 36/100
804/804 - 3s - loss: 0.5494 - accuracy: 0.7363 - 3s/epoch - 3ms/step
Epoch 37/100
804/804 - 3s - loss: 0.5372 - accuracy: 0.7371 - 3s/epoch - 3ms/step
Epoch 38/100
804/804 - 3s - loss: 0.5368 - accuracy: 0.7376 - 3s/epoch - 3ms/step
Epoch 39/100
804/804 - 3s - loss: 0.5366 - accuracy: 0.7389 - 3s/epoch - 3ms/step
Epoch 40/100
804/804 - 3s - loss: 0.5362 - accuracy: 0.7372 - 3s/epoch - 3ms/step
Epoch 41/100
804/804 - 3s - loss: 0.5367 - accuracy: 0.7379 - 3s/epoch - 3ms/step
Epoch 42/100
804/804 - 3s - loss: 0.5367 - accuracy: 0.7377 - 3s/epoch - 3ms/step
Epoch 43/100
804/804 - 3s - loss: 0.5368 - accuracy: 0.7382 - 3s/epoch - 3ms/step
Epoch 44/100
804/804 - 3s - loss: 0.5356 - accuracy: 0.7385 - 3s/epoch - 3ms/step
Epoch 45/100
804/804 - 3s - loss: 0.5355 - accuracy: 0.7390 - 3s/epoch - 3ms/step
Epoch 46/100
804/804 - 3s - loss: 0.5359 - accuracy: 0.7390 - 3s/epoch - 3ms/step
Epoch 47/100
804/804 - 3s - loss: 0.5356 - accuracy: 0.7381 - 3s/epoch - 4ms/step
Epoch 48/100
804/804 - 3s - loss: 0.5355 - accuracy: 0.7381 - 3s/epoch - 4ms/step
Epoch 49/100
804/804 - 3s - loss: 0.5349 - accuracy: 0.7395 - 3s/epoch - 3ms/step
Epoch 50/100
804/804 - 3s - loss: 0.5355 - accuracy: 0.7393 - 3s/epoch - 3ms/step
Epoch 51/100
804/804 - 3s - loss: 0.5360 - accuracy: 0.7392 - 3s/epoch - 3ms/step
Epoch 52/100
804/804 - 3s - loss: 0.5347 - accuracy: 0.7391 - 3s/epoch - 3ms/step
Epoch 53/100
804/804 - 3s - loss: 0.5349 - accuracy: 0.7397 - 3s/epoch - 3ms/step
Epoch 54/100
804/804 - 3s - loss: 0.5350 - accuracy: 0.7382 - 3s/epoch - 3ms/step
Epoch 55/100
804/804 - 3s - loss: 0.5345 - accuracy: 0.7401 - 3s/epoch - 3ms/step
Epoch 56/100
804/804 - 2s - loss: 0.5344 - accuracy: 0.7392 - 2s/epoch - 3ms/step
Epoch 57/100
804/804 - 3s - loss: 0.5341 - accuracy: 0.7395 - 3s/epoch - 3ms/step
Epoch 58/100
804/804 - 2s - loss: 0.5348 - accuracy: 0.7394 - 2s/epoch - 3ms/step
Epoch 59/100
804/804 - 3s - loss: 0.5338 - accuracy: 0.7413 - 3s/epoch - 3ms/step
Epoch 60/100
804/804 - 2s - loss: 0.5339 - accuracy: 0.7395 - 2s/epoch - 3ms/step
Epoch 61/100
804/804 - 3s - loss: 0.5337 - accuracy: 0.7394 - 3s/epoch - 3ms/step
Epoch 62/100
804/804 - 3s - loss: 0.5340 - accuracy: 0.7397 - 3s/epoch - 4ms/step
Epoch 63/100
804/804 - 3s - loss: 0.5340 - accuracy: 0.7402 - 3s/epoch - 3ms/step
Epoch 64/100
804/804 - 3s - loss: 0.5342 - accuracy: 0.7390 - 3s/epoch - 3ms/step
Epoch 65/100
804/804 - 3s - loss: 0.5820 - accuracy: 0.7402 - 3s/epoch - 3ms/step
Epoch 66/100
804/804 - 3s - loss: 0.5351 - accuracy: 0.7380 - 3s/epoch - 3ms/step
Epoch 67/100
804/804 - 3s - loss: 0.5330 - accuracy: 0.7395 - 3s/epoch - 3ms/step
Epoch 68/100
804/804 - 3s - loss: 0.5326 - accuracy: 0.7392 - 3s/epoch - 3ms/step
Epoch 69/100
804/804 - 3s - loss: 0.5325 - accuracy: 0.7395 - 3s/epoch - 3ms/step
Epoch 70/100
804/804 - 3s - loss: 0.5330 - accuracy: 0.7407 - 3s/epoch - 3ms/step
Epoch 71/100
804/804 - 2s - loss: 0.5341 - accuracy: 0.7403 - 2s/epoch - 3ms/step
Epoch 72/100
804/804 - 3s - loss: 0.5333 - accuracy: 0.7406 - 3s/epoch - 3ms/step
Epoch 73/100
804/804 - 3s - loss: 0.5333 - accuracy: 0.7404 - 3s/epoch - 3ms/step
Epoch 74/100
804/804 - 3s - loss: 0.5324 - accuracy: 0.7403 - 3s/epoch - 3ms/step
Epoch 75/100
804/804 - 3s - loss: 0.5324 - accuracy: 0.7402 - 3s/epoch - 4ms/step
Epoch 76/100
804/804 - 3s - loss: 0.5333 - accuracy: 0.7406 - 3s/epoch - 4ms/step
Epoch 77/100
804/804 - 3s - loss: 0.5325 - accuracy: 0.7406 - 3s/epoch - 3ms/step
Epoch 78/100
804/804 - 3s - loss: 0.5329 - accuracy: 0.7399 - 3s/epoch - 3ms/step
Epoch 79/100
804/804 - 3s - loss: 0.5334 - accuracy: 0.7399 - 3s/epoch - 3ms/step
Epoch 80/100
804/804 - 3s - loss: 0.5332 - accuracy: 0.7395 - 3s/epoch - 3ms/step
Epoch 81/100
804/804 - 3s - loss: 0.5331 - accuracy: 0.7405 - 3s/epoch - 3ms/step
Epoch 82/100
804/804 - 3s - loss: 0.5324 - accuracy: 0.7404 - 3s/epoch - 3ms/step
Epoch 83/100
804/804 - 3s - loss: 0.5320 - accuracy: 0.7408 - 3s/epoch - 3ms/step
Epoch 84/100
804/804 - 3s - loss: 0.5321 - accuracy: 0.7407 - 3s/epoch - 3ms/step
Epoch 85/100
804/804 - 2s - loss: 0.5322 - accuracy: 0.7393 - 2s/epoch - 3ms/step
Epoch 86/100
804/804 - 3s - loss: 0.5324 - accuracy: 0.7398 - 3s/epoch - 3ms/step
Epoch 87/100
804/804 - 3s - loss: 0.5322 - accuracy: 0.7400 - 3s/epoch - 3ms/step
Epoch 88/100
804/804 - 3s - loss: 0.5326 - accuracy: 0.7402 - 3s/epoch - 3ms/step
Epoch 89/100
804/804 - 3s - loss: 0.5320 - accuracy: 0.7407 - 3s/epoch - 4ms/step
Epoch 90/100
804/804 - 3s - loss: 0.5314 - accuracy: 0.7401 - 3s/epoch - 4ms/step
Epoch 91/100
804/804 - 3s - loss: 0.5322 - accuracy: 0.7407 - 3s/epoch - 3ms/step
Epoch 92/100
804/804 - 2s - loss: 0.5318 - accuracy: 0.7404 - 2s/epoch - 3ms/step
Epoch 93/100
804/804 - 2s - loss: 0.5483 - accuracy: 0.7403 - 2s/epoch - 3ms/step
Epoch 94/100
804/804 - 3s - loss: 0.5341 - accuracy: 0.7394 - 3s/epoch - 3ms/step
Epoch 95/100
804/804 - 2s - loss: 0.5321 - accuracy: 0.7402 - 2s/epoch - 3ms/step
Epoch 96/100
804/804 - 3s - loss: 0.5314 - accuracy: 0.7407 - 3s/epoch - 3ms/step
Epoch 97/100
804/804 - 3s - loss: 0.5315 - accuracy: 0.7404 - 3s/epoch - 3ms/step
Epoch 98/100
804/804 - 3s - loss: 0.5321 - accuracy: 0.7403 - 3s/epoch - 3ms/step
Epoch 99/100
804/804 - 2s - loss: 0.5337 - accuracy: 0.7408 - 2s/epoch - 3ms/step
Epoch 100/100
804/804 - 2s - loss: 0.5312 - accuracy: 0.7407 - 2s/epoch - 3ms/step

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6094 - accuracy: 0.7301 - 468ms/epoch - 2ms/step
Loss: 0.6094393134117126, Accuracy: 0.7301457524299622

In [51]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimzation2.h5")

In [52]:
from google.colab import drive
drive.mount('/content/drive')

# Analysis

### Data Preprocessing:  
* The Target of the Model was IS_SUCCESSFUL
* The Features of the Model was APPLICATION_TYPE, CLASSIFICATION
Based on the Application Type and Classification, we tried to predict whther the Charity Funding was successful or Not

* The variables EIN number and Name were deleted because they were not relevent in building or usng the model

### Compiling, Training, and Evaluating the Model
* After many trial runs, 4 layers were chosen. For level 1,2,3 100 nuerons were selected and on the 4th layer, 50 neurons were chosen. The activation funtion that was used was ReLU (Rectified Linear Unit), a part of Convolutional Neural Networks (CNNs).
* The target was 75% Accuracy but we could achieve only 73.014% Accuracy
* By adding and taking away layers and the number of neurons, we found that maximum accuracy occured with 4 layers and 350 neurons

### Summary
The overall accuracy of the model was 73% and the loss was 60.94% The performance of the model was wasn't too good.
I would recommend Multilayer Perceptrons (MLPs) as the best deep learning algorithm. It can speed up the run time of the model and improve the accuracy.